@font-face {
    font-family: "Untitled";
    src: url("fonts/Untitled.woff2") format("woff2"),
        url("fonts/Untitled.ttf") format("truetype"),
        url("fonts/Untitled.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-test span {
    font-family: "Untitled" !important;
}