@charset 'utf-8';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* レイアウトのデバッグ */
    /* outline: 5px solid orange; */
}

.gnav-wrap {
    background: #1b9aaa;
}

.gnav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
    max-width: 1200px;
    margin-inline: auto;
}

.gnav-logo {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.gnav-button {
    display: none;
    height: 50px;
    width: 60px;
    background-color: transparent;
    /* background: orange; */
    border: none;
    position: relative;
}

.gnav-button span {
    position: absolute;
    top: 30px;
    left: 50%;
    /* background: red; */
    width: 60px;
    transform: translateX(-50%);
    font-weight: bold;
    color: #fff;
}

.gnav-button::before,
.gnav-button::after,
.gnav-button span::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
}

.gnav-button::before {
    top: 8px;
}

.gnav-button::after {
    top: 24px;
}

.gnav-button span::before {
    top: -14px;
}

.is-open .gnav-button::before {
    /* transform: translateX(-50%) rotate(45deg); */
    transform: rotate(45deg);
    top: 16px;
    left: 16px;
}

.is-open .gnav-button::after {
    /* transform: translateX(-50%) rotate(45deg); */
    transform: rotate(-45deg);
    top: 16px;
    left: 16px;
}

.is-open .gnav-button span::before {
    background-color: transparent;
}


.gnav-list {
    text-align: center;
    background: #1b9aaa;
    padding: 0;
    display: flex;
    gap: 2em;
    /* list-style: none;
    list-style-type: none; */
}

/* リストマーカーを非表示にする別の方法 */
.gnav-list li {
    display: block;
}

.gnav-list li a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.gnav-list li span {
    font-size: 12px;
    display: block;
}

@media screen and (max-width:800px) {
    .gnav-button {
        display: block;
        cursor: pointer;
    }

    .gnav-list {
        position: fixed;
        padding-top: 10vh;
        top: 0;
        left: -100%;
        z-index: 100;
        width: 100%;
        max-width: 240px;
        height: 100vh;
        flex-direction: column;
        transition: 0.3s;
    }

    .is-open .gnav-list {
        left: 0;
    }
}