@charset 'utf-8';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gnav-wrap {
    background: #1b9aaa;
}

.gnav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
    max-width: 1200px;
    margin-inline: auto;
}

.gnav-logo {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.gnav-button {
    display: none;
}

.gnav-list {
    text-align: center;
    background: #1b9aaa;
    padding: 0;
    display: flex;
    gap: 2em;
    /* list-style: none;
    list-style-type: none; */
}

/* リストマーカーを非表示にする別の方法 */
.gnav-list li {
    display: block;
}

.gnav-list li a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.gnav-list li span {
    font-size: 12px;
    display: block;
}