@charset 'utf-8';

/* 全体スタイルの調整 */
* {
    box-sizing: border-box;
    /* スムーススクロール用 */
    scroll-behavior: smooth;

    /* outline: 1px solid orange; */
}

/* bodyの初期スタイル */
body {
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
    /* normal = 400 */
    font-weight: 400;
    color: #333;
    background-color: #fff;
}

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.5;
    letter-spacing: .2em;
    text-align: center;
}

h3 {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: justify;
}

address {
    font-style: normal;
}

a {
    color: #efefef;
    text-decoration: none;
}

a:hover,
a:focus,
a:focus-visible {
    color: #fff;
    text-decoration: underline;
}

ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

section {
    padding: 100px 0;
}

/* 共通スタイル(コンポーネント) */
/* セクション見出し */
.h2-title {
    position: relative;
    text-transform: uppercase;
    z-index: 100;
}

.h2-title::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: #a5d1ff;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    transform: rotate(45deg);
    z-index: -1;
}

/* ボタン */
.btn {
    display: block;
    padding: 20px 35px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    /* aタグにも対応させる場合 */
    width: fit-content;
}

.btn:hover,
.btn:focus,
.btn:focus-visible {
    background: rgba(0, 0, 0, .7);
    cursor: pointer;
}

.btn-reserve {
    color: #fff;
    background: rgba(0, 0, 0, .9);
    background: rgba(0 0 0 / .9);
}

/* ユーティリティスタイル */
/* テキスト関連 */
.txt-center {
    text-align: center !important;
}

.txt-lead {
    font-weight: 700 !important;
}

.none {
    display: none;
}

/* レイアウトスタイル */
.inner {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .inner {
        max-width: 1200px;
    }
}

.sp-only {
    display: block;
}

.pc-only {
    display: none;
}

@media (min-width:768px) {
    .sp-only {
        display: none;
    }

    .pc-only {
        display: block;
    }
}


/* ヘッダースタイル */
.header {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

.header-navi {
    /* display: none; */
}

.logo-area {
    width: 200px;
    margin: 0;
    text-align: left;
}

@media screen and (max-width:767px) {

    #nav-input-open,
    #nav-input-open span {
        display: inline-block;
        vertical-align: middle;
        transition: .2s ease-in-out;
    }

    #nav-input-open {
        position: relative;
        width: 40px;
        height: 27px;
        border: none;
        cursor: pointer;
    }

    #nav-input-open span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #ccc;
    }

    #nav-input-open span:nth-of-type(1) {
        top: 0;
    }

    #nav-input-open span:nth-of-type(2) {
        top: 12px;
    }

    #nav-input-open span:nth-of-type(3) {
        top: 24px;
    }

    .header-navi ul {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: 0;
        background: rgba(0, 0, 0, .8);
        margin-top: 0;
        padding: 30px;
        text-transform: uppercase;
        transform: translateX(-105%);
        transition: .3s ease-in-out;
    }

    .header-navi ul li {
        margin-bottom: 2em;
    }

    .header-navi ul li a {
        display: block;
        padding: 1em 1em 0;
    }

    /* チェックが入った時の動作 */
    #nav-input:checked~.header-navi ul {
        transform: translateX(0);
    }

    #nav-input:checked~#nav-input-open span:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg);
    }

    #nav-input:checked~#nav-input-open span:nth-of-type(2) {
        opacity: 0;
    }

    #nav-input:checked~#nav-input-open span:nth-of-type(3) {
        transform: translateY(-12px) rotate(45deg);
    }
}

@media screen and (min-width:768px) {
    .header {
        padding: 0 15px;
    }

    .logo-area {
        width: 250px;
    }

    .header-navi {
        width: 500px;
    }

    .header-navi ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-transform: uppercase;
    }

    /* アイコンフォント部分(svgではないので注意) */
    .header-navi ul li i {
        margin-right: 1em;
    }
}


/* ヒーローセクションのスタイル */
.hero-area {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    color: #fff;
    text-shadow: 0 0 3px #333;
    margin-top: 70px;
}

@media screen and (min-width:768px) {
    .hero-area {
        width: 100%;
        height: 600px;
    }

    .hero-title {
        margin-top: 90px;
    }
}

/* infoセクション */
.info-area {
    background-color: #85a7cc;
}

.info-txt {
    color: #fff;
}

@media screen and (min-width:768px) {
    .info-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .info-txt {
        flex: 1;
        margin-left: 30px;
    }

    .info-txt h2 {
        text-align: start;
    }

    .info-img {
        flex: 1;
    }

    /* ? */
    .info-img img {
        width: 100%;
        object-fit: cover;
    }
}

/* サービスセクション */
.service-area {
    background: #fff;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
}

.service-item {
    flex: calc(100% / 2 - 10px);
    text-align: center;
    padding: 20px 20px 0;
    margin: 5px;
    border: 3px solid #666;
    border-radius: 10px;
}

.service-item img {
    width: 120px;
}

@media screen and (min-width:768px) {
    .service-content {
        flex-wrap: nowrap;
        max-width: 1200px;
        margin: 0 auto;
    }

    .service-item {
        flex: calc(100% / 4);
    }
}

/* プランセクション */
.plan-area {
    background: #f0f0f0;
}

.plan-content {
    display: flex;
    flex-direction: column;
}

.plan-item {
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px #aaa;
}

.plan-info {
    padding: 0 15px 15px;
}

.plan-title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #666;
}

.plan-price {
    text-align: center;
    padding: 10px;
    border: 2px solid #666;
}

.plan-list li::before {
    content: '';
    background: url(../images/list-marker.svg) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 3px;
}

@media screen and (min-width:768px) {
    .plan-content {
        flex-direction: row;
    }

    .plan-item {
        flex: calc(100% / 3);
        margin-top: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* アクセスセクション */
.access-area {
    padding-bottom: 0;
    text-align: center;
}

.access-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.access-area img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.access-maparea {
    height: 400px;
}

.access-map {
    width: 100%;
    height: 100%;
}