@charset 'utf-8';

/* 全体スタイルの調整 */
* {
    box-sizing: border-box;
    /* スムーススクロール用 */
    scroll-behavior: smooth;
}

/* bodyの初期スタイル */
body {
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
    /* normal = 400 */
    font-weight: 400;
    color: #333;
    background-color: #fff;
}

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.5;
    letter-spacing: .2em;
    text-align: center;
}

h3 {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: justify;
}

address {
    font-style: normal;
}

a {
    color: #efefef;
    text-decoration: none;
}

a:hover,
a:focus,
a:focus-visible {
    color: #fff;
    text-decoration: underline;
}

ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

section {
    padding: 100px 0;
}

/* 共通スタイル(コンポーネント) */
/* セクション見出し */
.h2-title {
    position: relative;
    text-transform: uppercase;
    z-index: 100;
}

.h2-title::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: #a5d1ff;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    transform: rotate(45deg);
    z-index: -1;
}

/* ボタン */
.btn {
    display: block;
    padding: 20px 35px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    /* aタグにも対応させる場合 */
    width: fit-content;
}

.btn:hover,
.btn:focus,
.btn:focus-visible {
    background: rgba(0, 0, 0, .7);
    cursor: pointer;
}

.btn-reserve {
    color: #fff;
    background: rgba(0, 0, 0, .9);
    background: rgba(0 0 0 / .9);
}

/* ユーティリティスタイル */
/* テキスト関連 */
.txt-center {
    text-align: center !important;
}

.txt-lead {
    font-weight: 700 !important;
}

.none {
    display: none;
}

/* レイアウトスタイル */
.inner {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .inner {
        max-width: 1200px;
    }
}

.sp-only {
    display: block;
}

.pc-only {
    display: none;
}

@media (min-width:768px) {
    .sp-only {
        display: none;
    }

    .pc-only {
        display: block;
    }
}


/* ヘッダースタイル */
.header {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

.header-navi {
    /* display: none; */
}

.logo-area {
    width: 200px;
    margin: 0;
    text-align: left;
}

@media screen and (max-width:767px) {

    #nav-input-open,
    #nav-input-open span {
        display: inline-block;
        vertical-align: middle;
        transition: .2s ease-in-out;
    }

    #nav-input-open {
        position: relative;
        width: 40px;
        height: 27px;
        border: none;
        cursor: pointer;
    }

    #nav-input-open span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #ccc;
    }

    #nav-input-open span:nth-of-type(1) {
        top: 0;
    }

    #nav-input-open span:nth-of-type(2) {
        top: 12px;
    }

    #nav-input-open span:nth-of-type(3) {
        top: 24px;
    }

    .header-navi ul {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: 0;
        background: rgba(0, 0, 0, .8);
        margin-top: 0;
        padding: 30px;
        text-transform: uppercase;
        transform: translateX(-105%);
        transition: .3s ease-in-out;
    }

    .header-navi ul li {
        margin-bottom: 2em;
    }

    .header-navi ul li a {
        display: block;
        padding: 1em 1em 0;
    }

    /* チェックが入った時の動作 */
    #nav-input:checked~.header-navi ul {
        transform: translateX(0);
    }

    #nav-input:checked~#nav-input-open span:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg);
    }

    #nav-input:checked~#nav-input-open span:nth-of-type(2) {
        opacity: 0;
    }

    #nav-input:checked~#nav-input-open span:nth-of-type(3) {
        transform: translateY(-12px) rotate(45deg);
    }
}