@charset 'utf-8';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {
    background: yellow;
} */

body {
    background: #eee;
}

::placeholder {
    color: pink;
    font-size: 40px;
}

h1 {
    font-size: 1.5em;
    color: #1b9aaa;
    text-align: center;
    margin: 40px 0 20px;
}

form {
    width: 90%;
    max-width: 800px;
    margin: 0 auto 40px;
    background: #fff;
    padding: 40px 0;
}


dl {
    margin: 0 auto;
    width: 500px;
}

.form-item {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

dt {
    width: 200px;
}

dd {
    width: 300px;
}

/* 属性値のクォテーションマークは無くてもOK */
input[type=text],
input[type="email"],
select,
textarea {
    display: block;
    width: 100%;
    font-size: 16px;

    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0.3em;
}

input[type=radio] {
    accent-color: #1b9aaa;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
}

input[type=radio]:checked {
    width: 30px;
    height: 30px;
}

.form-submit {
    text-align: center;
}

dt,
dd,
select,
input,
textarea {
    color: #666;
}

input:focus-visible {
    outline: 3px solid orange;
}

dt::before {
    content: '◆';
    color: #1b9aaa;
    padding-right: 6px;
}

select {
    height: 2em;
}

.label-radio {
    display: inline-block;
    margin-right: 2em;
}

textarea {
    min-height: 100px;
}

input[type=submit] {
    background: #1b9aaa;
    width: 200px;
    padding: 0.5em;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

/* PCのみ */
@media screen and (min-width:769px) {
    input[type=submit]:hover {
        background: #147581;
    }
}

/* モバイル用CSS */
@media screen and (max-width:768px) {
    form {
        padding: 20px 0;
    }

    dl {
        width: 90%;
    }

    .form-item {
        display: block;
    }

    dt,
    dd {
        /* どちらでも見た目は同じ */
        width: 100%;
        width: auto;
    }

    dt {
        margin-bottom: 10px;
    }

    input[type=submit] {
        padding: 1em;
    }
}