@charset 'utf-8';

.bg-001,
.bg-002 {
    height: 400px;
}

.bg-001 {
    background: url(../img/bg-stripe.png) left center repeat;
}

.bg-002 {
    background: #98897b url(../img/bg-cat.png) center bottom no-repeat;
}

.px,
.per,
.cover,
.contain {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: url(../img/bg-cat-light.png) right bottom no-repeat;
}

.px {
    background-size: 150px auto;
}

.per {
    background-size: 50% 50%;
}

.cover {
    background-size: cover;
    background-position: center top;
}

.contain {
    background-size: contain;
}

.gradient {
    height: 400px;
    background: #00cef2;
    background: linear-gradient(180deg, rgba(0, 206, 242, 1) 0%, rgba(49, 247, 165, 1) 100%);
    /* 180deg = to bottom */
    /* 90deg = to right */
}

.fixed {
    height: 300px;
    background: url(https://picsum.photos/1600/900) no-repeat center center;
    background-attachment: fixed;
}

section {
    width: 200px;
    background: gold;
    margin-bottom: 150px;
}

section img {
    width: 100%;
}

.relative img {
    position: relative;
    top: 60px;
    left: 100px;
}

.absolute {
    position: relative;
}

.absolute img {
    position: absolute;
    top: 60px;
    left: 100px;
}

.p-fixed img {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
}

.sticky img {
    position: sticky;
    top: 50px;
}