@charset 'utf-8';

section {
    background-color: #3eb6bd;
}

h1 {
    color: #fff;
}

em {
    font-weight: bold;
}

.maxwidth {
    width: 300px;
    max-width: 100%;
}

.object-fit {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center center;
    object-position: left top;
    object-position: right bottom;
    object-position: 20% 15%;
}

.media-mobile {
    background-color: red;
}

@media screen and (min-width:960px) {
    .media-mobile {
        background-color: skyblue;
    }
}

.media-desktop {
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    .media-desktop {
        font-size: 20px;
    }
}

a {}